<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let satellitesArray of satellites" [style.background-color]="satellites.indexOf(satellitesArray) % 2 === 0 ? 'royalblue': 'grey'">
        <td>{{satellitesArray.name}}</td>
        <td [class.warning]="satellitesArray.shouldShowWarning()">{{satellitesArray.type}}</td>
        <td>{{satellitesArray.operational}}</td>
        <td>{{satellitesArray.orbitType}}</td>
        <td>{{satellitesArray.launchDate}}</td>
        </tr>
</table>

